.rectangle1{
    height:840px;
    width:300px;
    background-color: rgb(209, 220, 236);
    position: fixed;
    
  
  }

  .btn-warning {
      margin-left: 60px;
      border-radius: 50px;
      width: 180px;
      height: 100px;
      margin-top: 30px;
      color: aliceblue;
     
  }
  .btn-warning:hover{
      color: aliceblue;
  }
  